:root {
  --font-family: 'Jost', sans-serif;
  --primary-color: #5F0DC9;
  --secondry-color: #101010;
  --color: #101010;
  --text-color: #ffffff;
  --bg-color: #ffffff;
  --bg-color-black: #101010;
  --bg-color-secondary: #B19BFD;
  --light-color: #585858;
  --border-color: #ffffff;
  --footer-text: #bebec1;
  --transition: all 0.4s;
  --active-nav-bg:rgba(255, 255, 255, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 0.2px;
  scrollbar-color: var(--primary-color) var(--border-color);
  scrollbar-width: thin;
  font-size: 18px;
}
